<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Deepgram Test</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <h1>Deepgram Speech Transcriber</h1>
  <body class="">
    <div class="content">
      <div id="captions" class="captions"></div>
      <div class="button-container">
        <button id="startButton" class="action-button">Start</button>
        <button id="stopButton" class="action-button">Stop</button>
        <button id="refreshButton" class="action-button">Refresh</button>
      </div>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
